force-app/main/default/flows/Timesheet_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <description>List of OnGoing Projects</description>
        <name>projects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Going</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CompanyName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>talan</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Timesheet flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create timesheet from screen</description>
        <name>Create_Timesheet_record</name>
        <label>Create Timesheet record</label>
        <locationX>867</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Timesheet_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Consultant__c</field>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>Project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Date__c</field>
            <value>
                <elementReference>Timesheet_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Description__c</field>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>HoursWorked</elementReference>
            </value>
        </inputAssignments>
        <object>Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Enter_Timesheet_Detail</name>
        <label>Enter Timesheet Detail</label>
        <locationX>619</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Timesheet_record</targetReference>
        </connector>
        <fields>
            <name>Project</name>
            <choiceReferences>projects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Consultant</name>
            <choiceReferences>users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consultant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <dataType>String</dataType>
            <fieldText>Task Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timesheet_date</name>
            <dataType>Date</dataType>
            <fieldText>Timesheet date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HoursWorked</name>
            <dataType>Number</dataType>
            <fieldText>Hours Worked</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timesheet_Created</name>
        <label>Timesheet Created</label>
        <locationX>1038</locationX>
        <locationY>606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Timesheet_last_screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Timesheet Has Been Created Succesfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Enter_Timesheet_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
